body{
    margin: 0;
}
.container{
    background-color: black;
    height: 600px;
    width: 100%;
}
.container div{
    position: absolute;
    font-size: 110px;
    color: rgb(255, 255, 127);
    text-shadow: 0px 0px 25px rgb(255, 255, 0);

}
.container div:nth-child(1){
    left: 3%;
    animation: animasi 2s infinite linear;
}
.container div:nth-child(2){
    left: 18%;
    animation: animasi 4s infinite linear;
}
.container div:nth-child(3){
    left: 27%;
    animation: animasi 3s infinite linear;
}
.container div:nth-child(4){
    left: 36%;
    animation: animasi 2s infinite linear;
}
.container div:nth-child(5){
    left: 45%;
    animation: animasi 4s infinite linear;
}
.container div:nth-child(6){
    left: 54%;
    animation: animasi 3s infinite linear;
}
.container div:nth-child(7){
    left: 63%;
    animation: animasi 2s infinite linear;
}
.container div:nth-child(8){
    left: 72%;
    animation: animasi 4s infinite linear;
}
.container div:nth-child(9){
    left: 81%;
    animation: animasi 3s infinite linear;
}
.container div:nth-child(10){
    left: 90%;
    animation: animasi 2s infinite linear;
}

@keyframes animasi {
    0%{
        transform: translateY(0px) scale(50%) rotate(0deg);
    }
    100%{
        transform: translateY(500px) scale(30%) rotate(360deg);
    }
}